body{
  /* background-image: url('../images/tweed/tweed_@2X.png'); */
  background:#7e7b7b;
}

.logo {
  background:#d86a6a
}

.main-section {
  min-height:20rem;
}

.spacer {
  height:250px;
  width: 100%;
}

.user-item {
  font-weight: bold;
}

.options{
  font-weight: bold;
}

.zip-label {
  color: white;
  font-size:1rem;
}

.error {
  color:white;
}

.display {
  max-height: 30rem;
  font-size:12px;
  color: white;
  overflow: auto;
}

#facts{
  font-weight: bold;
}

#mapDiv{
  height:30rem;
}


#viewDiv {
  height: 100%;
  width:  100%;
}



