body{
  background-image: url('../images/tweed/tweed_@2X.png');
}

.main-section {
  background:grey;
  min-height:20rem;
}

.spacer {
  height:250px;
  width: 100%;
}

#display {
  font-size:12px;
  color: white;
  overflow: auto;
}

#mapDiv{
  height:20rem;
  
}


#viewDiv {
 
  height: 100%;
  width:  100%;
}



#mapToggle {
    height: 100%;
    width: 100%;
    float: right;
}